.navbar-back{
    background-color:$brand-main;
    color:$brand-white;

    a{
        color:$brand-main;


    }

}

.ms-dropdown{
margin-left: -80px !important;
    a{
        color:$brand-main !important;
    }

}
