
// responsive layout index page

@media (mix-width: 700px) and (max-width: 1024px) {
    .container {
        font-size: 12px;
    }
}

// responsive layout menu page 

@media screen and (max-width: 820px) {
    
    .tr-flex-column{
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;

    }

    .table-head-clmn{
        display: flex;
    }

    thead{
        display: none;
    }

    tbody{
        tr{
            border: 1px solid $brand-main;
            border-radius: 10px;
            margin-bottom: 20px;
            padding: 15px 0;
        }

        td{
            border: none;
        }
    }

    .responsive-description{
        font-size: 1rem;
        width: 90%;

    }
    
    .buttons-flex a,
    .buttons-flex form {
        display: inline;
        width: calc(100% / 3 - 10px);
        color: white;
    }
}